/nbproject/private/
/build/
/dist/
/verificador_rut/nbproject/private/
/verificador_rut/build/
/Solemne.2.DAI/nbproject/private/
/Conector_Caja/nbproject/private/
/PhpProject1/nbproject/private/
/DUOC.DAI.5501.SOL.2/nbproject/private/
/Solmene.unidad.2/nbproject/private/